.nav-account-div-h4 {
    font-size: 18px;
    color: white;
}
.nav-account-div-h3 {
    font-size: 24px;
    color: white;
}
.nav-account-div {
    display: flex;
    align-items: center;
}
nav {
    padding: 0px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-link-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 400px;
}
.nav-link {
    font-size: 20px;
    color: white !important;
    text-decoration: none;
}
body {
    background-color: #171C26 !important;
}
.nav-input {
    border: none;
    border-radius: 7px;
    background-color: white;
    color: #ACACAC;
    width: 202px;
    height: 38px;
    font-size: 14px;
    padding-left: 10px;
    position: relative;
    z-index: 0;
}
.nav-div-input {
    position: absolute;
    z-index: 1;
    left: 1470px;
    width: 30px;
    height: 30px;
    background-color: #09C0FA;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
h1 {
    font-size: 46px;
    color: white !important;
    margin: auto;
    display: flex;
    justify-content: center;
    padding-top: 20px;
}
.header-main-div {
    background-image: url("./imgs/Background.png");
    background-repeat: no-repeat;
    background-position: center;
    height: 553.65px;
}
.header-div {
    display: flex;
    justify-content: space-around;
}
.header-text {
    font-size: 36px;
    width: 250px;
    color: white;
    padding-top: 150px;
}
.header-text-div {
    display: flex;
    justify-content: center;
    align-items: end;
}
.header-button-1 {
    background-color: #09C0FA;
    color: white;
    border: 4px solid white;
    font-size: 16px;
    width: 240px;
    height: 58px;
}
.header-button-2 {
    background-color: #FFB647;
    color: white;
    border: 4px solid white;
    font-size: 16px;
    margin-top: 20px;
    width: 240px;
    height: 58px;
}
.header-button-div {
    display: flex;
    justify-content: end;
    flex-direction: column;
}
.section-course {
    background-image: url("./imgs/Background.png");
    background-repeat: no-repeat;
    background-position: center;
    height: 604.65px;
    padding: 0px 68px;
}
h2 {
    font-size: 46px;
    color: white !important;
    text-align: center;
    margin: auto;
    padding-top: 50px;
    width: 600px;
}
.line-img {
    margin: auto;
    display: flex;
    justify-content: center;
    padding: 50px 0px;
}
.section-course-span {
    color: #FFB647;
}
.section-news {
    background-image: url("./imgs/Background.png");
    background-repeat: no-repeat;
    background-position: center;
    height: 601.65px;
    padding: 0px 68px;
}
.section-news-h3 {
    font-size: 46px;
    color: white !important;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}
.section-news-card-img {
    width: 258px;
    height: 165px;
    margin-left: 3.5px;
}
.section-news-main-div {
    display: flex;
    justify-content: space-between;
    width: 1100px;
    margin: auto;
    padding-top: 50px;
}
.section-news-card {
    background-color: #171C26;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 265px;
}
.section-news-card-h3 {
    font-size: 16px;
    color: white;
}
.section-news-card-text {
    width: 213px;
    font-size: 10px;
    color: white;
}
.section-crypto {
    background-image: url("./imgs/Background.png");
    background-repeat: no-repeat;
    background-position: center;
    height: 553.65px;
    padding: 0px 68px;
}
.section-crypto-h3 {
    font-size: 46px;
    color: white !important;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}
.section-crypto-button-div {
    display: flex;
    justify-content: end;
    flex-direction: column;
}
.section-crypto-button-1 {
    background-color: #09C0FA;
    color: white;
    border: 4px solid white;
    font-size: 16px;
    width: 240px;
    height: 58px;
}
.section-crypto-button-2 {
    background-color: #FFB647;
    color: white;
    border: 4px solid white;
    font-size: 16px;
    margin-top: 20px;
    width: 240px;
    height: 58px;
}
.section-crypto-img {

}
.section-crypto-text {
    font-size: 36px;
    width: 300px;
    color: white;
}
.section-crypto-text-div {
    display: flex;
    justify-content: center;
    align-items: end;
}
.section-crypto-main-div {
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
}
footer {
    display: flex;
    justify-content: space-between;
    margin: 50px 212px;
}
.footer-h3 {
    font-size: 24px;
    color: white;
}
.footer-text {
    font-size: 17px;
    color: white;
    width: 150px;
}
.section-course-input {
    width: 400px !important;
    border-radius: 25px;
    background-color: inherit;
    color: white;
    border: 2px solid white;
    margin: auto;
    display: flex;
    justify-content: center;
    padding: 10px 10px;
}
.section-course-select {
    padding: 10px 25px;
    border: 2px solid white;
    border-radius: 10px;
    background-color: inherit;
    color: white;
    margin: auto;
    display: flex;
    justify-content: center;
}
.convert {
    background-color: #FFB647;
    color: white;
    border: 4px solid white;
    font-size: 16px;
    margin-top: 20px;
    width: 240px;
    height: 58px;
    cursor: pointer;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.result {
    color: white;
    margin: auto;
    font-size: 20px;
    display: flex;
    justify-content: center;
}
.select-div {
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 600px;
}
.swap {
    background-color: #09C0FA;
    color: white;
    border: 3px solid white;
    font-size: 16px;
    width: 240px;
    height: 58px;
    margin: 10px 0px;
}